.session {
  text-align: left;
  margin: 2rem;
}

.session-header-container {
  display: flex;
  border-bottom: 0.2rem solid #75787d;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.session-header {
  margin: 0;
}

.session-subheader {
  margin: 0;
  margin-bottom: 0.1rem;
  font-size: 1rem;
  text-align: right;
  flex-grow: 1;
}

.totals {
  margin-right: 2rem;
}

.total {
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.charts h3 {
  margin: 0;
  font-size: 1em;
}

.chart {
  margin-top: 0.25rem;
}

.label {
  color: var(--gray);
}

.emoji {
  margin-right: 0.25rem;
  font-size: 0.85rem;
  display: inline-block;
  width: 1.2rem;
}

.stats {
  display: flex;
}
