:root {
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --bluegreen: #56b6c2;
  --gray: #abb2bf;
  --white: #fff;
}

body {
  background-color: var(--white);
  color: var(--black);
}

button {
  background-color: var(--black);
  border: none;
  padding: 2rem;
  color: var(--white);
  border-radius: 0.1rem;
  font-weight: 700;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 0px 0px var(--blue);
  transition: box-shadow 200ms ease-in-out;
}

button:hover {
  box-shadow: 0.5rem 0.5rem 0px 0px var(--bluegreen);
}

button:active {
  box-shadow: 0.5rem 0.5rem 0px 0px var(--purple);
}

button > svg {
  width: 2rem;
  height: 2rem;
}

body,
button,
text {
  font-family: "Space Mono", monospace;
}
