body {
  background-color: #282c34;
  color: #abb2bf;
}

button {
  background-color: #61afef;
  border: none;
  font-size: 1rem;
  padding: 0.2em 1em;
  color: #fff;
  border-radius: 0.2em;
  font-weight: 700;
}

body,
button,
text {
  font-family: "Space Mono", monospace;
}

.secondary {
  background-color: #abb2bf;
}

h1 {
  color: #c678dd;
}
